.nav
{
position: sticky;
left: 0px;
margin-right: 0px;
margin-bottom: 14px;
padding-top: 15px;
padding-bottom: 8px;
padding-right: 5px;
padding-left: 13px;
}
 
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1da6f9;
   font-size: large;
}
 
li {
    float: left;
}
 
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
 
li a:hover {
    background-color: #ffffff;
    color: #1da6f9;
}
